.Contact>h1 {
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

.Contact {
	margin: 0 7vw;
	display: grid;
	justify-items: center;
}

.Contact ::placeholder {
	color: #C2D1D9;
	font-size: 14px;
	font-weight: bold;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Info {}

.Field {
	display: grid;
}

.FieldHead {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.FieldHead {
	display: none;
}


.FieldLabel {
	/* display: none; */
}

.FieldWarning {
	/* display: none; */
}

.ContactForm {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
	gap: 1rem 2rem;

	max-width: 750px;
	width: 100%;
	min-width: 20rem;
}

.Message>textarea {
	resize: vertical;
}

.Submit,
.Message {
	grid-column: 1 / -1;
}

@media only screen and (min-width: 983px) {
	.ContactForm {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;

		max-width: 2000px;
		grid-template-areas:
			'Name Email Message Message'
			'Phone Select Message Message'
			'Info Submit Submit Submit'
		;
	}

	.Name {
		grid-area: Name;
	}

	.Phone {
		grid-area: Phone;
	}

	.Email {
		grid-area: Email;
	}

	.Subject {
		grid-area: Select;
	}

	.Message {
		grid-area: Message;
		/* grid-column: unset; */
	}

	.Submit {
		grid-area: Submit;
	}
}

/* 424B5A */