:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	/* line-height: 1.5;
	font-weight: 400; */

	/* color-scheme: light dark; */
	color: #424B5A;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--color-1: #424B5A;
	--color-11: #424b5a30;
	--color-2: #C2D1D9;
	--color-3: #F2F5F7;
	--color-4: #white;
	--color-5: #909ba0;
	--color-6: #A1AEB7;
	--color-7: #D8D8D8;
	--color-8: #979797;
	--color-9: #767676;



	--color-unset: var(--color-9);
	--color-set: var(--color-1);
	--color-focused: var(--color-5);
	--color-accent: var(--color-1);
	--color-background: var(--color-3);
	--color-secondary-bg: var(--color-4);
	--color-button-hover-bg: var(--color-11);
	--color-highlighted: var(--color-3);
	--color-border: var(--color-2);
	--color-unset2: var(--color-6);

	--padding-default: 5vw;
	--gap-default: 2vw;
	--border-radius: 3px;


	--padding1: 5vw;
	--gap1: 2vw;
	--some-small-padding: 7vw;
	--some-small-padding2: 3.5vw;
	--some-padding: 4rem;
}

section {
	margin: 150px 0;
}

body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	min-height: 100vh;

	display: flex;
	place-items: center;
}

input,
button,
textarea,
.Card {
	border-radius: 3px;
	border: 2px solid var(--color-border);
	padding: 1rem 2rem 1rem 1rem;
}

:focus {
	outline: medium solid var(--color-focused);
}

.BorderButton {
	color: #424B5A;
	padding: 0;
	margin: 0;
	min-width: 7rem;
	max-width: 15rem;
	width: 15rem;
	height: 3rem;

	border-radius: 4px;
	border-color: #424B5A;
	background-color: transparent;
	border-bottom-color: #979797;
}

.BorderButton:hover {
	background-color: #424B5A;
	color: white;
}

p {
	color: #A1AEB7;
}

#root {
	width: 100%;
}

a {
	font-weight: 500;
	color: #254F97;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

/* 
button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
} */