.PhotoLibrary {
	background-color: darkgray;
	padding: 20px 0;
}

.Slider {
	display: flex;
	box-sizing: border-box;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
	gap: 20px;
	padding: 20px 40px 20px 40px;

	-ms-overflow-style: none;
	scrollbar-width: none;

	scroll-behavior: smooth;
}

.Slider::-webkit-scrollbar {
	display: none;
}

.SliderImage {
	width: 60vw;
	height: 60vh;
	flex-shrink: 0;
}

.ImageParallax {
	height: 100%;

	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.SliderViewFullLibrary {
	text-align: center;
}

.SliderViewFullLibrary>button {
	border-radius: 3px;
	background-color: transparent;
	border: 2px solid var(--color-accent);
	padding: 1rem 2rem;
}

.GridContainer {
	display: none;
}


@media only screen and (min-width: 768px) {

	.Slider,
	.SliderViewFullLibrary {
		display: none;
	}

	.GridContainer {
		display: grid;
	}
}

.GridContainer {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	align-items: stretch;
	width: 90vw;
	height: 90vh;
	margin: 0 auto;
	min-height: 500px;

	grid-template-areas:
		". . . Category"
		". . . ViewFullAndPrev"
		". . . Next";
}

.GridContainer>* {
	/* width: 100%;
	height: 100%; */
}

.GridImage {
	overflow: hidden;
}

.GridImage[data-active='true'] {
	grid-column: 1 / -2;
	grid-row: 1 / -1;
}

.GridImage>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.Category {
	display: grid;
	grid-area: Category;
}

.ViewFullAndPrev {
	display: grid;
	grid-area: ViewFullAndPrev;
}

.ViewFullLibrary {
	display: grid;
}

.Prev {
	display: grid;
}

.Next {
	display: grid;
	grid-area: Next;
	min-height: max-content;
}