.PhotoLibrary {
	/* background-color: darkgray; */
	position: relative;
	z-index: 5;
	padding: 20px 0;
	isolation: isolate;

	--size: 4px;
	--position: calc(var(--size) / -2);
	--position2: calc(var(--size) / 2);
	--dot-size: 8px;
	--dot-position: calc(var(--dot-size) / -2);
	--padding-size: calc(var(--dot-size) / 4);
	--padding-position: calc(var(--padding-size) / -2);
}

.Slider {
	display: flex;
	box-sizing: border-box;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
	gap: 20px;
	padding: 20px 40px 20px 40px;


	-ms-overflow-style: none;
	scrollbar-width: none;

	scroll-behavior: smooth;
}

.Slider::-webkit-scrollbar {
	display: none;
}

.SliderImage {
	width: 60vw;
	height: 60vh;
	flex-shrink: 0;
	
}

.ImageParallax {
	height: 100%;

	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.SliderViewFullLibrary {
	text-align: center;
}

.SliderViewFullLibrary>button {
	border-radius: 3px;
	background-color: transparent;
	border: 2px solid var(--color-accent);
	padding: 1rem 2rem;
}

/* .Grid {
	display: none;
}

@media only screen and (min-width: 768px) {
	.Grid {
		display: flex;
		flex-flow: column;
		gap: 20px;
	}
} */

.Grid {
	display: flex;
	flex-flow: column;
	gap: 20px;
	overflow: hidden;
}


.GridCategory {
	display: grid;
	grid-auto-columns: 150px;
	grid-auto-flow: column;
	justify-content: center;
	align-content: center;
	gap: 20px;
	overflow: hidden;
	overflow-y: scroll;
}

.GridCategory>button {
	padding: 0;
	margin: 0;
	padding: 5px;

	font-size: 1.1rem;
}

.GridCategory>button[data-active="true"] {
	background-color: green;
}

.GridImages {
	/* display: grid; */
}

.GridImages {
	display: grid;
	grid-auto-flow: column;
	gap: 20px 20px;
	padding: 0 200px;

	grid-template-columns: repeat(3, minmax(35%, 1fr));
	grid-template-rows: repeat(3, 1fr);

	grid-auto-columns: minmax(35%, 1fr);
	grid-auto-rows: 1fr;

	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: scroll;
}

.GridImages::-webkit-scrollbar {
	display: none;
}

.GridImages>button {
	aspect-ratio: 16 / 9;
}








.Slider {
	/* background-color: red; */
	/* width: 10px;
	height: 10px; */
	display: flex;
	overflow-x: scroll;
}

/* @media only screen and (min-width: 768px) {
	.Slider {
		display: none;
	}
} */

.Slide {

}

.SliderButton {
	text-align: center;
}

.SliderButton>button {
	border-radius: 3px;
	background-color: transparent;
	border: 2px solid var(--color-accent);
	padding: 1rem 2rem;
	font-size: 1.2rem;
}

.Slide>img {
	width: 14rem;
	height: 70vh;
	object-fit: cover;
	object-position: center;
	margin: 0 20px;

	border-radius: 5px;
	/* TODO padding */

	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}