:root {
	--padding1: 1rem;
	--gap1: 2vw;
	--some-small-padding: 7vw;
	--some-small-padding2: 3.5vw;
	--some-padding: 4rem;
}

.BorderButton {
	color: #424B5A;
	padding: 0;
	margin: 0;
	min-width: 7rem;
	max-width: 15rem;
	width: 15rem;
	height: 3rem;

	border-radius: 4px;
	border-color: #424B5A;
	background-color: transparent;
	border-bottom-color: #979797;

	font-size: 1.5rem;
}

.BorderButton:hover, .BorderButton[aria-selected="true"] {
	background-color: #424B5A;
	color: white;
}

.Questions {
	margin: 0 var(--some-small-padding);
}

.Questions>h1 {
	text-align: center;
	font-size: 3rem;
}

.TabsList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--gap1);
	margin: 0 var(--padding1);
	margin-bottom: 50px;
}



.QAAccordion {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	break-inside: avoid;
	column-gap: var(--gap1);
}

.QAAccordionItem {}

.QAAccordionHeader {
	margin: 0;

	border-bottom: 2px solid #C2D1D9;
	border-radius: 2px;
}

.QAAccordionHeader:hover {
	border-color: #424B5A;
}

.QAAccordionTrigger {
	background-color: transparent;
	border: none;
	text-align: start;
	cursor: pointer;
	width: 100%;
	height: 100%;
	height: 4rem;

	font-size: 1.2rem;

	padding: 0 0 0 var(--padding1);
	color: #424B5A;
}

.QAAccordionTrigger:hover {
	color: black;
}

.QAAccordionContent {
	padding-left: var(--padding1);
	overflow: hidden;
}

.QAAccordionContent[data-state='open'] {
	animation: slideDown 300ms ease;
}

.QAAccordionContent[data-state='closed'] {
	animation: slideUp 300ms ease;
}

.QAAccordionItem {
	font-size: 1.1rem;
	font-weight: 500;
	width: 100%;
}

@keyframes slideDown {
	from {
	  height: 0;
	}
	to {
	  height: var(--radix-accordion-content-height);
	}
  }
  
  @keyframes slideUp {
	from {
	  height: var(--radix-accordion-content-height);
	}
	to {
	  height: 0;
	}
  }